.landing {
    display: flex;
    justify-content: space-around;
    padding: 4vh;
}

.inner {
    text-align: center;
    color: black;
}

.navlinks {
    color: #e63462;
}

.navlinks:hover {
    color:black;
}