.notlogged {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.nlpic {
    width: 100%;
    justify-content: end;
    height: 100vh;
}

.nlinner {
    width: 50%;
    justify-content: center;
    height: 100vh;
}


.lucario {
    position: absolute;
	bottom: 10px;
	width: 50%;
}

.nltxt {
    color: #2c5ea0;
    font-size: 2vw;
}

.nltxt1 {
    color: #999999;
    font-size: 2vw;
}