.ocoutter {
    min-width: 200px;
    min-height: 50px;
    width: 20%;
    background: white;
    border-radius: 5px;
}

.ocinner {
    padding-top: 3vh;
    margin-left: 10%;
    margin-right: 10%;
}

.ocname {
    font-size: 2vh;
}

.ocitem {
    font-size: 3vh;
    line-height: 2vh;
}

.occustomize {
    font-size: 2vh;
    justify-content: left;
    padding-bottom: 1vh;
}

.ocbullet {
    display: flex;
}

