.notloggedsu {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background: url(../../Pictures/forkandknife.jpg);
}

.nlpic {
    width: 100%;
    justify-content: end;
    height: 100vh;
}

.nlinnersu1 {
    width: 40%;
    justify-content: center;
    height: 100vh;
}

.nlinnersu2 {
    width: 60%;
    justify-content: center;
    height: 100vh;
}

.suinin{
    width: 60%;
}

.buffer {
    padding: 10vh;
}

.lucario {
    position: absolute;
	bottom: 10px;
	width: 50%;
}

.nltxt {
    color: #2c5ea0;
    font-size: 2vw;
}

.nltxt1 {
    color: #999999;
    font-size: 2vw;
}